body {
  text-align: center;
  background-color: black;
  color: white;
  font-family: "SUSE", sans-serif;
}
h1 {
  background-color: #2f8d46;
  background-image: url("images/plants.webp");
  background-size: contain;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 40px auto 0px;
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Steelfish Rg", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}
p {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 200;
}

#container {
  display: block;
  position: relative;
  margin: 20px auto;
  padding: 20px 15px 25px;
  border-radius: 7.5px;
  max-height: 900px;
  max-width: 715px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("images/back1.jpg");
}
.frosted {
  backdrop-filter: blur(6px);
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-radius: 7.5px;
}
form {
  padding: 20px;
  gap: 20px;
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  position: relative;
  z-index: 2;
}
#bar {
  padding: 15px 30px;
  border-radius: 9px;
  border: 1.5px solid rgb(108, 182, 33);
  width: 50%;
  font-size: 15px;
  line-height: 20px;
  color: rgb(66, 65, 65);
}
#submit-button {
  background: rgb(108, 182, 33);
  color: rgb(66, 65, 65);
  font-size: 15.5px;
  border: 2px solid rgb(108, 182, 33);
  border-radius: 9px;
  padding: 15px 24px;
  cursor: pointer;
}
#submit-button:hover {
  background-color: #37a452da;
  border: 2px solid rgb(108, 182, 33);
}
#ai-answer {
  font-size: 15px;
  padding: 25px 35px;
  margin: 0 20px;
  line-height: 22px;
  border-radius: 0px 5px 5px 0px;
  border-left: 9px dashed rgb(108, 182, 33);
  background: white;
  color: rgb(88, 87, 87);
  position: relative;
  z-index: 2;
}
#ai-answer h2 {
  padding: 0;
}
#ai-answer p {
  text-align: justify;
  font-size: 15px;
}
#ai-answer li {
  list-style: none;
  text-align: justify;
}
footer {
  font-weight: 100;
  font-size: 13px;
}
a {
  color: rgb(108, 182, 33);
  font-weight: 200;
}
.footer-name {
  font-weight: 400;
}
